<div style="display: flex;">
    <mat-card class="mat-card count-card first-card">
        <mat-card-title>
            Number of Cards
        </mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card second-card">
        <mat-card-title>
            Number of Cards
        </mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card third-card">
        <mat-card-title>
            Number of Cards
        </mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>

    <mat-card class="mat-card count-card fourth-card">
        <mat-card-title>
            Number of Cards
        </mat-card-title>
        <mat-card-content>10</mat-card-content>
    </mat-card>
</div>

<!-- <div style="display: flex;">
        <button mat-raised-button color="accent" (click)="openDialog()">Add Credit card</button>
</div> -->
<mat-card class="mat-card">
    <mat-card-header>
        Credit Card Admin Portal
    </mat-card-header>
    <mat-card-content>
        <div>
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox>

                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
                <ng-container matColumnDef="cardName">
                    <th mat-header-cell *matHeaderCellDef>Card Name</th>
                    <td mat-cell *matCellDef="let element">{{element.cardName}}</td>
                </ng-container>
                <ng-container matColumnDef="bankName">
                    <th mat-header-cell *matHeaderCellDef>Bank Name</th>
                    <td mat-cell *matCellDef="let element">{{element.bankName}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                <ng-container matColumnDef="maxCredit">
                    <th mat-header-cell *matHeaderCellDef>Max Credit</th>
                    <td mat-cell *matCellDef="let element">{{element.maxCredit}}</td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef>Active</th>
                    <td mat-cell *matCellDef="let element">{{element.active}}</td>
                </ng-container>
                <ng-container matColumnDef="annualFee">
                    <th mat-header-cell *matHeaderCellDef>Annual Fee</th>
                    <td mat-cell *matCellDef="let element">{{element.annualFee}}</td>
                </ng-container>
                <ng-container matColumnDef="interestRate">
                    <th mat-header-cell *matHeaderCellDef>Interest Rate</th>
                    <td mat-cell *matCellDef="let element">{{element.interestRate}}</td>
                </ng-container>
                <ng-container matColumnDef="introOffer">
                    <th mat-header-cell *matHeaderCellDef>Intro Offer</th>
                    <td mat-cell *matCellDef="let element">{{element.introOffer}}</td>
                </ng-container>
                <ng-container matColumnDef="recommendedCreditScore">
                    <th mat-header-cell *matHeaderCellDef>Recommended</th>
                    <td mat-cell *matCellDef="let element">{{element.recommendedCreditScore}}</td>
                </ng-container>
                <ng-container matColumnDef="numberOfApplications">
                    <th mat-header-cell *matHeaderCellDef>Number of Applications</th>
                    <td mat-cell *matCellDef="let element">{{element.numberOfApplications}}</td>
                </ng-container>
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef>Created Date</th>
                    <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
                </ng-container>
                <ng-container matColumnDef="termsAndConditions">
                    <th mat-header-cell *matHeaderCellDef>Terms & Conditions</th>
                    <td mat-cell *matCellDef="let element">{{element.termsAndConditions}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['view', element.id]">View</a> |
                        <a [routerLink]="['delete', element.id]">Delete</a> |
                        <a [routerLink]="['edit', element.id]">Edit</a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns:displayColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[2,5,10]" showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>