.mat-card{
    margin: 15px;
}

.count-card{
    padding: 10px;
    margin: 8px;
    width: 500px;
}

.first-card{
    background: lightgreen;
}

.second-card{
    background-color: lightcoral;
}

.third-card{
    background-color: lightblue;
}

.fourth-card{
    background-color: lightyellow;
}