<mat-toolbar>
  <button mat-icon-button class="header-icon" (click)="sidebarToggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="header-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="content-container">
  <mat-drawer class="sidebar" mode="side" [opened]="sidebarOpened">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="creditcards">Credit Cards</mat-list-item>
      <mat-list-item role="listitem" routerLink="creditcards">Add Credit Cards</mat-list-item>
      <mat-list-item role="listitem" routerLink="debitcards"s>Debit Cards</mat-list-item>
      <mat-list-item role="listitem">Mutual Funds</mat-list-item>
    </mat-list>    
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>